<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       						http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    
   	<dubbo:application name="${dubbo.application.name}" owner="wqj" organization="weiyu"/>
	
	<dubbo:registry address="${dubbo.registry.address}" file="${dubbo.registry.file}" /> 

	<dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}"/>

	<dubbo:provider timeout="6000" retries="0" filter="exceptionFilter,-exception"/>
   	
   	<dubbo:service interface="org.wqj.soa.biz.api.BizService" ref="bizService">
   		<dubbo:method name="dailyTask" timeout="300000"/>
   	</dubbo:service>
</beans>